// frontend/src/index.js
import React from 'react';
import ReactDOM from 'react-dom';
import './styles/globals.css'; // Tailwind CSS import
import App from './App';

ReactDOM.render(<App />, document.getElementById('root'));
